In [120]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st
from scipy.stats import linregress


# File to Load (Remember to Change These)
all_perth_house = Path("resources/all_perth_310121.csv")

# Read all perth houses sales prices and store into Pandas DataFrames
house_prices_perth = pd.read_csv(all_perth_house)

In [121]:
house_prices_perth

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33651,9C Gold Street,South Fremantle,1040000,4,3,2.0,292,245,2013.0,16100,Fremantle Station,1500,03-2016\r,6162,-32.064580,115.751820,CHRISTIAN BROTHERS' COLLEGE,1.430350,49.0
33652,9C Pycombe Way,Westminster,410000,3,2,2.0,228,114,NaN,9600,Stirling Station,4600,02-2017\r,6061,-31.867055,115.841403,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.679644,35.0
33653,9D Pycombe Way,Westminster,427000,3,2,2.0,261,112,NaN,9600,Stirling Station,4600,02-2017\r,6061,-31.866890,115.841418,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.669159,35.0
33654,9D Shalford Way,Girrawheen,295000,3,1,2.0,457,85,1974.0,12600,Warwick Station,4400,10-2016\r,6064,-31.839680,115.842410,GIRRAWHEEN SENIOR HIGH SCHOOL,0.358494,NaN
33655,9E Margaret Street,Midland,295000,3,1,2.0,296,95,NaN,16700,Midland Station,1700,05-2016\r,6056,-31.882163,116.014755,LA SALLE COLLEGE,1.055564,53.0

In [122]:
house_prices_perth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33656 entries, 0 to 33655
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADDRESS           33656 non-null  object
 1   SUBURB            33656 non-null  object
 2   PRICE             33656 non-null  int64
 3   BEDROOMS          33656 non-null  int64
 4   BATHROOMS         33656 non-null  int64
 5   GARAGE            31178 non-null  float64
 6   LAND_AREA         33656 non-null  int64
 7   FLOOR_AREA        33656 non-null  int64
 8   BUILD_YEAR        30501 non-null  float64
 9   CBD_DIST          33656 non-null  int64
 10  NEAREST_STN       33656 non-null  object
 11  NEAREST_STN_DIST  33656 non-null  int64
 12  DATE_SOLD         33656 non-null  object
 13  POSTCODE          33656 non-null  int64
 14  LATITUDE          33656 non-null  float64
 15  LONGITUDE         33656 non-null  float64
 16  NEAREST_SCH       33656 non-null  object
 17  NEAREST_SCH_DIST  33656 non-null  float64
 18  NEAREST_SCH_RANK  22704 non-null  float64
dtypes: float64(6), int64(8), object(5)
memory usage: 4.9+ MB

In [123]:
# Specify the columns for display
columns_to_display = ["ADDRESS", "LATITUDE", "LONGITUDE", "SUBURB", "BEDROOMS",
                      "BATHROOMS", "GARAGE", "LAND AREA", "FLOOR AREA", "BUILD YEAR", "KM FROM CBD",
                      "CBD DIST", "DATE SOLD", "POSTCODE", "NEAREST SCH", "NEAREST SCH RANK",
                      "NEAREST SCH DIST"]

# Remove underscores from column names
house_prices_perth.columns = [col.replace("_", " ") for col in house_prices_perth.columns]

# clean the cell Data sold 
 
house_prices_perth ['DATE SOLD']= house_prices_perth ['DATE SOLD'].str.replace ('\r','')

house_prices_perth ['BUILD YEAR']= house_prices_perth ['BUILD YEAR'].fillna(0).astype(int)

#house_prices_perth ["PRICE"] = house_prices_perth  ["PRICE"].map ("${:,.2f}".format)
 

# Convert 'CBD DIST' from meters to kilometers
house_prices_perth['KM FROM CBD'] = house_prices_perth['CBD DIST'] / 1000

# Fill NaN values in 'GARAGE' column with 0
house_prices_perth['GARAGE'].fillna(0, inplace=True)

# Display the DataFrame with selected columns
selected_columns_df = house_prices_perth[columns_to_display]

house_prices_perth_cleaned = house_prices_perth.dropna(subset=['NEAREST SCH RANK', 'BUILD YEAR'])
house_prices_perth_cleaned

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND AREA,FLOOR AREA,BUILD YEAR,CBD DIST,NEAREST STN,NEAREST STN DIST,DATE SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST SCH,NEAREST SCH DIST,NEAREST SCH RANK,KM FROM CBD
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013,26900,Kwinana Station,4900,02-2019,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0,26.9
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979,22600,Challis Station,1900,06-2015,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0,22.6
9,1 Arundel Street,Bayswater,685000,3,2,8.0,552,126,1999,5900,Bayswater Station,508,10-2019,6053,-31.917880,115.907050,CHISHOLM CATHOLIC COLLEGE,0.936243,29.0,5.9
11,1 Ashcott Gate,Butler,367500,3,2,2.0,398,158,2003,36300,Butler Station,2100,11-2018,6036,-31.654280,115.702200,BUTLER COLLEGE,0.680843,39.0,36.3
13,1 Ashendon Boulevard,Hammond Park,535000,4,2,4.0,704,247,2002,23100,Cockburn Central Station,3900,07-2019,6164,-32.159590,115.849480,ATWELL COLLEGE,2.220643,129.0,23.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33650,9b Wesley Street,South Fremantle,955000,3,2,1.0,200,127,1997,16000,Fremantle Station,1900,02-2019,6162,-32.066410,115.756070,FREMANTLE COLLEGE,1.134956,128.0,16.0
33651,9C Gold Street,South Fremantle,1040000,4,3,2.0,292,245,2013,16100,Fremantle Station,1500,03-2016,6162,-32.064580,115.751820,CHRISTIAN BROTHERS' COLLEGE,1.430350,49.0,16.1
33652,9C Pycombe Way,Westminster,410000,3,2,2.0,228,114,0,9600,Stirling Station,4600,02-2017,6061,-31.867055,115.841403,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.679644,35.0,9.6
33653,9D Pycombe Way,Westminster,427000,3,2,2.0,261,112,0,9600,Stirling Station,4600,02-2017,6061,-31.866890,115.841418,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.669159,35.0,9.6
33655,9E Margaret Street,Midland,295000,3,1,2.0,296,95,0,16700,Midland Station,1700,05-2016,6056,-31.882163,116.014755,LA SALLE COLLEGE,1.055564,53.0,16.7

In [124]:
house_prices_perth_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22704 entries, 1 to 33655
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADDRESS           22704 non-null  object
 1   SUBURB            22704 non-null  object
 2   PRICE             22704 non-null  int64
 3   BEDROOMS          22704 non-null  int64
 4   BATHROOMS         22704 non-null  int64
 5   GARAGE            22704 non-null  float64
 6   LAND AREA         22704 non-null  int64
 7   FLOOR AREA        22704 non-null  int64
 8   BUILD YEAR        22704 non-null  int32
 9   CBD DIST          22704 non-null  int64
 10  NEAREST STN       22704 non-null  object
 11  NEAREST STN DIST  22704 non-null  int64
 12  DATE SOLD         22704 non-null  object
 13  POSTCODE          22704 non-null  int64
 14  LATITUDE          22704 non-null  float64
 15  LONGITUDE         22704 non-null  float64
 16  NEAREST SCH       22704 non-null  object
 17  NEAREST SCH DIST  22704 non-null  float64
 18  NEAREST SCH RANK  22704 non-null  float64
 19  KM FROM CBD       22704 non-null  float64
dtypes: float64(6), int32(1), int64(8), object(5)
memory usage: 3.6+ MB

In [125]:
print (house_prices_perth_cleaned)

                    ADDRESS           SUBURB    PRICE  BEDROOMS  BATHROOMS  \
1               1 Addis Way            Wandi   365000         3          2
2           1 Ainsley Court          Camillo   287000         3          1
9          1 Arundel Street        Bayswater   685000         3          2
11           1 Ashcott Gate           Butler   367500         3          2
13     1 Ashendon Boulevard     Hammond Park   535000         4          2
...                     ...              ...      ...       ...        ...
33650      9b Wesley Street  South Fremantle   955000         3          2
33651        9C Gold Street  South Fremantle  1040000         4          3
33652        9C Pycombe Way      Westminster   410000         3          2
33653        9D Pycombe Way      Westminster   427000         3          2
33655    9E Margaret Street          Midland   295000         3          1

       GARAGE  LAND AREA  FLOOR AREA  BUILD YEAR  CBD DIST  \
1         2.0        351         139        2013     26900
2         1.0        719          86        1979     22600
9         8.0        552         126        1999      5900
11        2.0        398         158        2003     36300
13        4.0        704         247        2002     23100
...       ...        ...         ...         ...       ...
33650     1.0        200         127        1997     16000
33651     2.0        292         245        2013     16100
33652     2.0        228         114           0      9600
33653     2.0        261         112           0      9600
33655     2.0        296          95           0     16700

                    NEAREST STN  NEAREST STN DIST DATE SOLD  POSTCODE  \
1               Kwinana Station              4900   02-2019      6167
2               Challis Station              1900   06-2015      6111
9             Bayswater Station               508   10-2019      6053
11               Butler Station              2100   11-2018      6036
13     Cockburn Central Station              3900   07-2019      6164
...                         ...               ...       ...       ...
33650         Fremantle Station              1900   02-2019      6162
33651         Fremantle Station              1500   03-2016      6162
33652          Stirling Station              4600   02-2017      6061
33653          Stirling Station              4600   02-2017      6061
33655           Midland Station              1700   05-2016      6056

        LATITUDE   LONGITUDE                                  NEAREST SCH  \
1     -32.193470  115.859554                               ATWELL COLLEGE
2     -32.120578  115.993579                 KELMSCOTT SENIOR HIGH SCHOOL
9     -31.917880  115.907050                    CHISHOLM CATHOLIC COLLEGE
11    -31.654280  115.702200                               BUTLER COLLEGE
13    -32.159590  115.849480                               ATWELL COLLEGE
...          ...         ...                                          ...
33650 -32.066410  115.756070                            FREMANTLE COLLEGE
33651 -32.064580  115.751820                  CHRISTIAN BROTHERS' COLLEGE
33652 -31.867055  115.841403  JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL
33653 -31.866890  115.841418  JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL
33655 -31.882163  116.014755                             LA SALLE COLLEGE

       NEAREST SCH DIST  NEAREST SCH RANK  KM FROM CBD
1              5.524324             129.0         26.9
2              1.649178             113.0         22.6
9              0.936243              29.0          5.9
11             0.680843              39.0         36.3
13             2.220643             129.0         23.1
...                 ...               ...          ...
33650          1.134956             128.0         16.0
33651          1.430350              49.0         16.1
33652          1.679644              35.0          9.6
33653          1.669159              35.0          9.6
33655          1.055564              53.0         16.7

[22704 rows x 20 columns]

In [126]:
# Calculate the total number of Suburbs

Suburbs_name = house_prices_perth_cleaned["SUBURB"].unique()
total_Suburbs = len(Suburbs_name)
total_Suburbs

279

In [131]:
# Average houses prices perth
average_houses_prices = house_prices_perth_cleaned['PRICE'].mean()
average_houses_prices

692520.2922832981

In [128]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of houses_prices  for suburb,

# mean, median, variance, standard deviation, and SEM of the houses prices. 

mean =  house_prices_perth_cleaned['PRICE'].groupby( house_prices_perth_cleaned['SUBURB']).mean()
median = house_prices_perth_cleaned ['PRICE'].groupby( house_prices_perth_cleaned['SUBURB']).median() 
var = house_prices_perth_cleaned ['PRICE'].groupby( house_prices_perth_cleaned['SUBURB']).var()                                                        
std = house_prices_perth_cleaned ['PRICE'].groupby( house_prices_perth_cleaned['SUBURB']).std()
sem = house_prices_perth_cleaned ['PRICE'].groupby( house_prices_perth_cleaned['SUBURB']).sem()

summary_stat_df =pd.DataFrame ({"Mean House Prices":mean,
                        "Median House Prices":median,
                        "House Prices Variance":var,
                        "House Prices Std. Dev.":std,
                        "House Prices Std. Err.":sem})
                        
                                                                                                           
# Assemble the resulting series into a single summary DataFrame.
summary_stat_df

,Mean House Prices,Median House Prices,House Prices Variance,House Prices Std. Dev.,House Prices Std. Err.
SUBURB,,,,,
Alexander Heights,4.441477e+05,440000.0,9.043925e+09,95099.554907,14336.797334
Alfred Cove,8.400866e+05,803000.0,5.967958e+10,244294.044261,22300.893118
Alkimos,4.068904e+05,392500.0,1.012873e+10,100641.577012,10271.687941
Applecross,1.376690e+06,1355000.0,2.640512e+11,513859.144023,57813.670572
Ardross,1.072145e+06,1032500.0,1.020210e+11,319407.331432,29037.030130
...,...,...,...,...,...
Woodbridge,5.508889e+05,537000.0,3.693289e+10,192179.322535,20257.479280
Woodlands,1.157876e+06,1185000.0,9.006840e+10,300113.977469,34201.161876
Woodvale,6.453947e+05,640000.0,1.135495e+10,106559.615088,10932.785829
Wooroloo,4.353529e+05,385500.0,4.460227e+10,211192.502095,29572.865458
Yokine,6.292943e+05,579000.0,5.568018e+10,235966.474681,32722.662452

In [ ]:
# Define the bins for 5km increments
bins = range(0, int(house_prices_perth_cleaned['CBD DIST'].max()) + 6, 5)

# Group the data by bins and calculate the count of houses in each bin
houses_sold_by_distance = house_prices_perth_cleaned.groupby(pd.cut(house_prices_perth_cleaned['CBD DIST'], bins)).size()

# Print the results
houses_sold_by_distance